$spacing-base: 8px;

//Shadow - Key light
$box-shadow-key-1: 0px 2px 2px 0px rgba(36, 54, 65, 0.1);
$box-shadow-key-2: 0px 4px 4px 0px rgba(36, 54, 65, 0.1);
$box-shadow-key-3: 0px 8px 8px 0px rgba(36, 54, 65, 0.1);
//Shadow - ambient light
$box-shadow-amb-1: 0px 0px 2px 0px rgba(36, 54, 65, 0.1);
$box-shadow-amb-2: 0px 0px 4px 1px rgba(36, 54, 65, 0.1);
$box-shadow-amb-3: 0px 0px 8px 1px rgba(36, 54, 65, 0.1);