$font-family-sans-serif: 'Inconsolata', 'Helvetica Neue', 'Helvetica', sans-serif;

@import '~bootstrap/scss/bootstrap';

body, html {
  height: 100%;
  width: 100%;
}

body {
  background: $gray-lightest;
  box-shadow: inset 0 4px 0 0 #138078;
  color: #222;
  padding-top: 4px;
}

.wrapper {
  padding: 24px;
}

.empty-state {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px);
  justify-content: center;
  text-align: center;
}

.empty-state-icon {
  fill: $gray-light;
  opacity: .20;
  margin: 0 0 2em;
  width: 100px;
}

.icon-search-bar {
  background: #fff;
  position: relative;

  input {
    border: 0;
    font-size: 1.25em;
    padding: 24px;
    transition: all .2s ease-out;
    width: 100%;
  }

  input:focus {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15);
    outline: 0;
  }
}

.btn-clear-search {
  align-items: center;
  background: transparent;
  border: 0;
  box-shadow: none;
  display: flex;
  height: 26px;
  position: absolute;
  right: 26px;
  top: 26px;
  width: 26px;

  img {
    height: auto;
    opacity: .35;
    width: 100%;
  }
}

.icon-preview {
  height: 48px;
  text-align: center;
  width: auto;
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
}

.icon-list-item-content {
  background-color: #fff;
  box-shadow: 0 2px 3px 0 rgba(0,0,0, .15);
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}

.icon-list-item {
  display: flex; 
  padding: 0.5em;
  width: 100%;

  @media all and (min-width: 40em) {
    width: 50%;
  }

  @media all and (min-width: 60em) {
      width: 33.33%;
  }
}

.icon-classname {
  text-align: center;
  margin: 1.25em 0 0;
  width: auto;
}