$font-family-sans-serif: 'Inconsolata', 'Helvetica Neue', 'Helvetica', sans-serif;
$green: #138078;
$link-color: #179990;

@import '~bootstrap/scss/bootstrap';
@import 'variables';
@import 'boxshadows';

body, html {
  height: 100%;
  width: 100%;
}

body {
  background: $gray-lightest;
  color: #222;
  padding-top: calc(82px + 0px);
}

.wrapper {
  padding: 24px;
}

.empty-state {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px);
  justify-content: center;
  text-align: center;
}

.empty-state-icon {
  fill: $gray-light;
  opacity: .20;
  margin: 0 0 2em;
  width: 100px;
}

.icon-search-bar {
  background: #fff;
  border-top: 4px solid $green;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: box-shadow .3s ease-out;
  width: 100%;
  z-index: 15;

  &.page-is-scrolled {
    box-shadow: $box-shadow-key-2;
  }

  input {
    border: 0;
    font-size: 1.25em;
    padding: 24px;
    transition: all .2s ease-out;
    width: 100%;
  }

  input:focus {
    box-shadow: $box-shadow-key-2;
    outline: 0;
  }
}

.btn-clear-search {
  align-items: center;
  background: transparent;
  border: 0;
  box-shadow: none;
  display: flex;
  height: 26px;
  position: absolute;
  right: 26px;
  top: 26px;
  width: 26px;

  img {
    height: auto;
    opacity: .35;
    width: 100%;
  }
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
}

.svgicon {
  display: inline-flex;
  line-height: inherit;
  align-self:center;
}
.svgicon svg {

  height: 1em;
  width: 1em;
}

.icon-list-item-content {
  @extend .box-shadow-1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: ($spacing-base*2) 0;
  width: 100%;
  font-size:40px;

  .svgicon svg, .svgicon path {
    fill: #3D4A51;
  }
}

.icon-list-item {
  display: flex; 
  padding: 0.5em;
  width: 100%;

  @media all and (min-width: 40em) {
    width: 50%;
  }

  @media all and (min-width: 60em) {
    width:20%;
  }
}

.icon-classname {
  text-align: center;
  margin: 1.25em 0 0;
  width: auto;
  font-size:12px;
}